.calendar-grid-hours
  display: grid
  grid-template-columns: 100%
  -ms-grid-columns: 100%
  grid-template-rows: 1fr
  -ms-grid-rows: 1fr
  margin-top: 10rem
  margin-right: 2rem
  margin-bottom: 5rem
  font-size: 1.4rem

  .hours
    display: flex

    .hour
      text-align: right
      width: 8rem
      // padding-bottom: 3.1rem
      padding-right: 1rem
      padding-left: 2rem
      height: 6.5rem
      border-right: 2px solid $divider-color
      color: $dark-primary-color
      font-weight: 500

    .hour-event
      width: 90%
      text-align: center
      height: 6.5rem
      padding: 1.5rem 1.5rem
      border-bottom: 1px solid rgba($divider-color, 0.2)
      font-weight: 700
      color: $dark-primary-color
      transition: all 50ms cubic-bezier(.25, .8, .25, 1)

.weekly
  display: grid
  grid-template-columns: repeat(7, 1fr)
  -ms-grid-columns: repeat(7, 1fr)