.month
  padding-top: 1rem
  padding-bottom: 0.5rem
  position: fixed
  top: 0px
  width: 100%
  display: grid
  justify-items: end
  grid-template-columns: 4% 10% 35% 10% 5% 25% 10%
  background: $yellow
  @include mboxshadow(1)
  z-index: 5

  h1
    text-align: center
    font-size: 2rem
    color: $dark-primary-color
    transition: all 0.1s easein

  .previous--month, .next--month
    text-align: center
    color: $dark-primary-color
    padding: 0.6rem 1.2rem
    border-radius: 0.6rem
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1)
    font-size: 1.9rem
  
  .month-back
    border-radius: 3px
    cursor: pointer
    visibility: hidden

    &:hover
      i
        transform: scale(1.5) translateX(-2px)

    i
      color: $dark-primary-color
      transform: scale(1.5)
      margin-right: 10px

    i:hover

    span
      color: $secondary-text
      font-weight: 700
      font-size: 1.8rem

  .space
    padding: 0.6rem 1.2rem
    visibility: hidden

    select
      padding: 0.3rem 0.5rem
      border: none
      background: $yellow
      border-radius: 3px
      font-size: 1.5rem
      color: $secondary-text
      font-weight: 700
      border: 1px solid $secondary-text

