.navbar
  background-color: $yellow
  position: fixed
  display: grid
  visibility: hidden
  grid-template-columns: 50px 4fr 100px
  height: 4.5rem
  font-size: 1.5rem
  bottom: 0px
  width: 100vw
  @include mboxshadow()
  z-index: 5
  padding-top: 0.5rem
  padding-bottom: 0.5rem

  .navbar--homepage
    margin-left: 0.5rem
    position: relative

  .add-event
    position: absolute
    visibility: visible
    float: right
    right: 5rem
    top: -2.5rem
    padding: 1.5rem 2rem
    border-radius: 50%
    color: white
    background-color: $red
    cursor: pointer
    @include mboxshadow(1)
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1)

  .navbar--form
    margin-left: 3rem
    margin-right: 3rem
    padding-top: 1rem

    .info
      height: 100%
      width: calc(100vw - 150px)
      display: inline-block

    .card__content
      text-align: center
      display: grid
      grid-template-columns: 1fr 2fr
      height: 10rem
      width: 100%

      .card__content-primary
        margin-bottom: 1.5rem
        font-weight: 700

        select
          border: 1px solid #ccc
          margin: 1px
          border-radius: 3px
          overflow: hidden
          padding: 0.3rem 0.5rem
          background: white
          font-weight: 700
          border: none
          box-shadow: none
          border-radius: 3px
          -moz-appearance: none
          -webkit-appearance: none
          cursor: pointer

        select::-ms-expand
          display: none
        select:focus
          outline: none

      .card__content-secondary
        display: grid
        grid-template-columns: 1fr 1fr

        .secondary-input
          input
            float: left
            padding: 0.3rem 0.5rem
            border: none
            margin: 0.5rem
          
          .day-number
            width: 90px

        .secondary-subdesc
          display: grid
          grid-template-columns: 1fr 1fr
          margin: 0.5rem

          textarea
            width: 100%
            height: 70%
            resize: none
            border: none
            padding: 0.3rem 0.5rem

          input[type=submit]
            
            text-align: center
            outline: none
            border: none
            display: block
            margin: auto
            cursor: pointer
            background-color: $accent-color
            font-weight: 700
            color: white
            font-size: 1.5rem
            height: 3rem
            padding: 0.5rem 1rem
            border-radius: 4px
            transition: all 0.1s ease-in
            &:link, &:visited
              border-radius : 2px
              transition: all 150ms ease
              font-size: 1.4rem

            &:hover 
              transform: translateY(-3px)
              @include mboxshadow(2)