.card
  @include mboxshadow(3)
  background: #fff
  border-radius: 0.250rem
  display: inline-block
  margin: 2rem
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 35vw
  min-width: 350px
  border-radius: 8px
  z-index: 15

  &__title
    position: relative
    height: 50%
    text-align: center
    // font-size: 1.272rem
    // letter-spacing: 0.1487rem
    color: #212121
    // background: #3F51B5
    @include mboxshadow(1)
    padding-bottom: 2rem
    label
      display: block
      margin: 2rem auto 

      input
        font-size: 1.6rem
        text-align: left
        padding: 0.6rem 1rem 
        border: none
        width: 240px
      select
        font-size: 1.6rem
        border: none
        width: 100px
        background: white


    &-center 
      padding-top: 4%
      color: black

  &__content
    padding: 4rem
    height: 30rem

    textarea
      height: 15rem
      width: 100%
      resize: none
      font-size: 1.6rem
      text-align: left
      padding: 0.6rem 1rem 
      @include mboxshadow(1)

    .hell
      div
        display: inline-block
        float: right

    &-primary
      color: $primary-text
      padding-bottom: 0.400rem
    
    &-secondary
      color: $secondary-text


  &__footer
    padding: 4rem
    position: relative

    &-btn
      position: absolute
      visibility: visible
      float: right
      right: 12rem
      bottom: 2rem
      padding: 1rem 1rem
      border-radius: 5px
      font-weight: 700
      color: white
      background-color: $green
      cursor: pointer
      @include mboxshadow(1)
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1)

    &-cancel
      position: absolute
      visibility: visible
      float: right
      right: 2rem
      bottom: 2rem
      padding: 1rem 1rem
      border-radius: 5px
      font-weight: 700
      color: white
      background-color: $red
      cursor: pointer
      @include mboxshadow(1)
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1)


.test
  .time__input
    select
      padding: 0.6rem 1rem 
      border: none
.quill 
  height: 13rem